body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    margin: 0;
}

.nav-links li {
    list-style: none;
    padding-left: 32px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header,
.hero {
    color: white;
}

.hero {
    padding: 75px 0;
}

.hero_wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.hero_wrapper div {
    flex: 1;
}

.hero-left h1 {
    font-size: 48px;
    margin: 0;
}

.hero-left p {
    font-size: 18px;
    max-width: 45ch;
}

.greyrect {
    background-color: grey;
    text-align: center;
    padding: 80px 0;
}

.hero-btn {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
}

.card-container {
    background-color: white;
}

.cards {
    display: flex;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 150px;
}

h2 {
    text-align: center;
}

.card-img {
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 3px solid #3882F6;
}

.testimonials {
    background-color: #E5E7EB;
    color: #1F2937;
}

.cta-container {
    background-color: white;
}

.card-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.testimonials_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 120px 0;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.cta-container_wrapper {
    padding: 80px 0;
}

.cta,
.cta button {
    background-color: #3882F6;
    color: white;
}

.cta {
    padding: 40px 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.cta button {
    padding: 0 40px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    height: 40px;
    align-self: center;
}

.text p:first-child {
    font-weight: bold;
    font-size: 24px;
}

p {
    margin: 0;
}

.footer {
    color: white;
    padding: 20px 0;
}