body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header,
.hero {
    color: white;
}

.card-container {
    background-color: white;
}

.testimonials {
    background-color: #E5E7EB;
    color: #1F2937;
}

.cta-container {
    background-color: white;
}

.card-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cta,
.cta button {
    background-color: #3882F6;
    color: white;
}

p {
    margin: 0;
}

.footer {
    color: white;
}